.clock {
  display: block;
  margin: auto;
}
path {
  opacity: 0.5;
  shape-rendering: geometricPrecision;
}
.seconds {
  fill: rgb(52, 208, 255);
}
.minutes {
  fill: rgb(252, 54, 235);
}
.hours {
  fill: rgb(144, 255, 41);
}
text.label {
  --label-color: #a8a8a8;
  fill: var(--label-color);
  text-anchor: middle;
  font: 24px -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  shape-rendering: geometricPrecision;
  font-weight: normal;
  paint-order: stroke;
  stroke-width: 0px;
}
path.tick {
  --tick-color: #a8a8a8;
  fill: var(--tick-color);
  paint-order: stroke;
  stroke-width: 0px;
}
text.title {
  fill: #f3f3f3;
  text-anchor: end;
  font: 36px -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  shape-rendering: geometricPrecision;
  paint-order: stroke;
  stroke: #ffffff;
  stroke-width: 2px;
  font-weight: bold;
}
